@use 'src/styles/mixins' as m;
@use 'src/styles/constants' as c;

.container {
  max-width: 1200px;
  margin: 24px auto 0;
}

.thumbnail {
  width: 100%;
  max-height: 320px;
  object-fit: contain;
}

.header {
  position: relative;
  padding-bottom: 28px;
  margin-top: 12px;
  border-bottom: 1px solid c.$C_GRAY_7;

  li {
    list-style: none;
  }

  .title {
    @include m.flex(flex-start, flex-end);

    > p {
      @include m.fontB16('light');
      margin-left: 12px;
      color: c.$C_GRAY_6;
    }

    > h1 {
      font-size: 40px;
      font-weight: 700;
    }

    @include m.mobileOnly {
      @include m.flex(flex-start, flex-start, column);

      > p {
        margin-left: 0;
      }
    }
  }

  .update {
    position: absolute;
    right: 0;
    bottom: 12px;
    width: 80px;
  }

  .tags {
    gap: 12px;
    margin-top: 12px;
  }
}

.body {
  @include m.flex(flex-start, flex-start);
  position: relative;
  column-gap: 12px;

  .index {
    @include m.flex(flex-start, flex-start, column);
    position: sticky;
    top: 90px;
    flex-grow: 1;
    min-width: 160px;
    padding: 20px;
    margin-top: 12px;
    list-style: none;

    > li {
      cursor: pointer;

      .preTags {
        font-size: 14px;
        font-weight: 500;
        color: c.$C_GRAY_3;

        &:hover {
          color: c.$C_GRAY_5;
        }
      }

      .h1Tags {
        font-size: 16px;
        font-weight: 500;
        color: c.$C_GRAY_2;

        &:hover {
          color: c.$C_GRAY_5;
        }
      }

      .h1Tags + .h1Tags {
        margin-top: 8px;
      }

      .h2Tags {
        padding-left: 8px;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 500;
        color: c.$C_GRAY_3;

        &:hover {
          color: c.$C_GRAY_5;
        }
      }
    }

    > li + li {
      margin-top: 12px;
    }

    @include m.mobileOnly {
      display: none;
    }
  }
}
