@use 'src/styles/constants' as c;
@use 'src/styles/mixins' as m;

.title {
  margin: 72px 0 0;

  > h1 {
    @include m.fontH1('bold');
  }
}

.divider {
  height: 1px;
  margin: 48px 0;
  background-color: c.$C_GRAY_7;
  border: 0;
}
