@use 'src/styles/constants' as c;
@use 'src/styles/mixins' as m;

.container {
  height: 200px;

  @include m.flex(center, center, column);
}

.mainInfo {
  @include m.flex(center, center, column);

  > div {
    @include m.flex(center, center, row);

    > span {
      font-size: 42px;
      font-weight: 600;
      color: c.$C_BLACK;
      text-align: center;

      @include m.desktopOnly {
        flex-basis: 0;
        flex-grow: 1;
      }

      @include m.tabletOnly {
        font-size: 32px;
      }

      @include m.mobileOnly {
        font-size: 20px;
      }
    }
  }

  > div > span + span {
    margin-left: 72px;

    @include m.tabletOnly {
      margin-left: 36px;
    }

    @include m.mobileOnly {
      margin-left: 20px;
    }
  }

  > hr {
    width: 120px;
    height: 5px;
    margin-top: 24px;
    background-color: rgba(0, 0, 0, 87%);
    border: none;
  }
}
