@use 'src/styles/constants' as c;
@use 'src/styles/mixins' as m;

.mainInfo {
  @include m.flex(flex-start, center, column);
  height: 200px;
  padding: 0 20px;
  margin: 0 auto;
  border-bottom: 1px solid c.$C_GRAY_7;

  > p:first-of-type {
    @include m.fontB18(medium);
    color: c.$C_GRAY_4;
  }

  > p:last-of-type {
    @include m.fontH2(bold);
    margin-top: 4px;
    color: c.$C_BLACK;
  }

  @include m.flex(center, flex-start, column);
}

.body {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 20px;
  align-items: flex-start;
  margin: 0 auto;
  margin-top: 42px;
  @include m.tabletOnly {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
  }
}
