@use 'src/styles/mixins' as m;
@use 'src/styles/constants' as c;

.listWrapper {
  @include m.flex(center, center, column);
  gap: 12px;
}

.listItem {
  position: relative;
  width: 100%;
  padding: 16px;
  cursor: pointer;
  border-bottom: 1px solid c.$C_GRAY_7;

  .listTitle {
    @include m.fontH2(medium);
    @include m.flex(flex-start, center, row);

    @include m.mobileOnly {
      @include m.flex(flex-start, flex-start, column);
      font-size: 20px;
    }

    .tags {
      gap: 8px;
      margin-left: 24px;
      @include m.flex(flex-start, center);
      @include m.mobileOnly {
        margin-top: 8px;
        margin-left: 0;
      }

      > li {
        padding: 4px 8px;
        color: c.$C_WHITE;
        background-color: c.$C_PRIMARY;
        border-radius: 12px;
        @include m.fontB16('regular');

        @include m.mobileOnly {
          @include m.fontB12('regular');
        }
      }
    }
  }

  .description {
    max-width: 65%;
    margin-top: 12px;
    line-height: 24px;
    color: c.$C_GRAY_4;
    @include m.mobileOnly {
      max-width: 100%;
      margin-top: 8px;
    }
  }

  .thumbnail {
    @include m.desktopOnly {
      position: absolute;
      top: 50%;
      right: 32px;
      transform: translateY(-50%);
    }

    @include m.mobileOnly {
      display: block;
      width: 100%;
      object-fit: contain;
      margin: 0 auto 12px;
    }
  }

  > footer {
    margin-top: 12px;
    color: c.$C_GRAY_6;
  }
}
