@use 'src/styles/mixins' as m;
@use 'src/styles/constants' as c;

.container {
  width: 100%;
}

.listWrapper {
  gap: 12px;
  width: 100%;
  @include m.flex(center, center, column);
}

.listItem {
  position: relative;
  width: 100%;
  min-height: 200px;
  padding: 16px;
  cursor: pointer;
  border-bottom: 1px solid c.$C_GRAY_7;

  @include m.mobileOnly {
    padding-bottom: 42px;
  }

  .listTitle {
    @include m.fontH2(medium);
    @include m.flex(flex-start, center, row);

    @include m.mobileOnly {
      @include m.flex(flex-start, flex-start, column);
      font-size: 20px;
    }
  }

  .tags {
    gap: 8px;
    margin-left: 12px;
    @include m.mobileOnly {
      margin-top: 8px;
      margin-left: 0;
    }
  }

  .description {
    max-width: 65%;
    margin-top: 12px;
    line-height: 24px;
    color: c.$C_GRAY_4;
    @include m.mobileOnly {
      max-width: 100%;
      margin-top: 8px;
    }
  }

  .thumbnail {
    object-fit: contain;
    aspect-ratio: 1 / 1;
    @include m.desktopOnly {
      position: absolute;
      top: 0;
      right: 32px;
      width: 200px;
      height: 100%;
      padding: 20px;
    }

    @include m.mobileOnly {
      display: block;
      width: 100%;
      margin: 0 auto 12px;
    }
  }

  > footer {
    position: absolute;
    bottom: 16px;
    color: c.$C_GRAY_6;
  }
}
