@use 'src/styles/mixins' as m;
@use 'src/styles/constants' as c;

@mixin tag($color: c.$C_PRIMARY) {
  height: 20px;
  padding: 0 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: c.$C_WHITE;
  text-align: center;
  list-style: none;
  cursor: pointer;
  background-color: $color;
  border-radius: 12px;

  @include m.mobileOnly {
    height: 16px;
    font-size: 12px;
    line-height: 18px;
  }
}

.container {
  margin-top: 24px;

  @include m.tabletOnly {
    padding: 0 12px;
  }

  > h1 {
    @include m.fontH1(medium);
  }
}

.projects {
  row-gap: 24px;
  margin-top: 24px;
  @include m.flex(flex-start, flex-start, column);
}

.project {
  width: 100%;
  min-height: 80px;
  padding: 20px 12px;
  list-style: none;
  border-radius: 4px;
  box-shadow: 0 0 12px 4px c.$C_GRAY_7;
  @include m.flex(flex-start, center, row);

  @include m.mobileOnly {
    flex-direction: column;
  }

  .mainInfo {
    flex-grow: 1;
    width: 100%;
  }

  .thumbnail {
    width: 220px;
    height: 160px;
    @include m.flex;

    > img {
      object-fit: contain;
    }
  }

  .header {
    @include m.flex(flex-start, flex-end);
    padding-bottom: 12px;
    border-bottom: 1px solid c.$C_GRAY_7;

    @include m.mobileOnly {
      flex-direction: column;
      align-items: flex-start;
    }

    > h1 {
      @include m.fontH2(bold);
      color: c.$C_GRAY_2;

      @include m.mobileOnly {
        font-size: 20px;
      }

      @include m.mini {
        font-size: 16px;
      }
    }

    > div {
      @include m.flex(flex-start);
    }

    .date {
      margin-left: 8px;

      > span {
        font-size: 14px;
        color: c.$C_GRAY_5;

        @include m.mobileOnly {
          font-size: 12px;
        }
      }

      > span + span {
        margin-left: 4px;
      }

      @include m.mobileOnly {
        margin: 4px 0;
      }
    }

    .link {
      width: 20px;
      height: 20px;
      margin-left: 8px;
      cursor: pointer;
    }
  }

  .skillWrapper {
    margin-top: 16px;
    @include m.flex(flex-start);

    @include m.mobileOnly {
      display: block;
    }

    > h2 {
      @include m.fontH3(medium);
      color: c.$C_GRAY_2;

      @include m.mobileOnly {
        font-size: 16px;
      }
    }

    .skills {
      @include m.flex(flex-start);
      gap: 4px;
      margin-left: 8px;

      > li {
        @include tag(c.$C_PRIMARY);
      }

      @include m.mobileOnly {
        flex-wrap: wrap;
        margin: 8px 0 0;
      }
    }
  }

  .description {
    margin-top: 16px;

    > div {
      @include m.flex(flex-start);
      margin-bottom: 16px;

      @include m.mobileOnly {
        display: block;
      }

      > h2 {
        color: c.$C_GRAY_2;

        @include m.fontH3(medium);
        @include m.flex(flex-start);

        @include m.mobileOnly {
          font-size: 16px;
          @include m.flex(flex-start, flex-start, column);
        }
      }

      > ul {
        @include m.flex(flex-start);
        gap: 4px;
        margin-left: 8px;

        li {
          @include tag(c.$C_PRIMARY_DARK);
        }

        @include m.mobileOnly {
          flex-wrap: wrap;
          margin: 8px 0 0;
        }
      }
    }

    > p {
      font-size: 16px;
      line-height: 20px;
      color: c.$C_GRAY_2;
      word-break: keep-all;
    }
  }
}
