// normal
$C_GREEN_1: #00cd3c;
$C_GREEN_2: #1ee13c;
$C_GREEN_3: #01b925;
// hover
$C_GREEN_4: #34d762;
// pressed
$C_GREEN_5: #00b835;
// disabled
$C_GREEN_6: #a4e5b7;

$C_PRIMARY_DARKER: #2f2f37;

$C_GRAY_1: #131313;
$C_GRAY_2: #333333;
$C_GRAY_3: #505050;
$C_GRAY_4: #606060;
$C_GRAY_5: #808080;
$C_GRAY_6: #aaaaaa;
$C_GRAY_7: #d3d3d3;
$C_GRAY_8: #ebebeb;
$C_GRAY_9: #f6f6f8;
$C_GRAY_10: #fcfcfc;

$C_BLUE_GRAY_1: #858c97;
$C_BLUE_GRAY_2: #9a9fa8;
$C_BLUE_GRAY_3: #aaafb9;
$C_BLUE_GRAY_4: #c2cad4;
$C_BLUE_GRAY_5: #ced0da;
$C_BLUE_GRAY_6: #ebecf0;

$C_TABLE_1: #d4d9e1;
$C_TABLE_2: #dfe3e9;
$C_TABLE_3: #ebecf0;
$C_TABLE_4: #f5f5f5;
// normal
$C_TABLE_NORMAL: #ffffff;
// selected
$C_TABLE_SELECTED: #effcf3;
// hover
$C_TABLE_HOVER: #fcfcfc;

// normal
$C_RED_1: #f42d16;
// hover
$C_RED_2: #f65745;
// pressed
$C_RED_3: #db2813;
// disabled
$C_RED_4: #fa958a;

$C_STATE_GREEN: #00cd3c;
$C_STATE_GRAY: #9a9fa8;
$C_STATE_ORANGE: #f86a0e;
$C_STATE_VIOLET: #bf55ed;

$C_WHITE: #ffffff;
// gnd background
$C_DARK_GRAY: #2f2f37;
// content background
$C_LIGHT_GRAY: #f8f8f9;
