@use 'src/styles/constants' as c;
@use 'src/styles/mixins' as m;

.wrapper {
  @include m.flex;
  height: 100vh;
}

.form {
  @include m.flex(center, center, column);
  row-gap: 16px;
  width: 320px;
  padding: 48px 32px;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 20%);

  .input {
    width: 100%;
  }

  > button {
    width: 100%;
  }
}
