@font-face {
  font-family: 'Noto Sans';
  src: url('/assets/fonts/NotoSansKR-Thin.otf');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/assets/fonts/NotoSansKR-Light.otf');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/assets/fonts/NotoSansKR-Regular.otf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/assets/fonts/NotoSansKR-Medium.otf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/assets/fonts/NotoSansKR-Bold.otf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/assets/fonts/NotoSansKR-Black.otf');
  font-style: normal;
  font-weight: 900;
}
