.w-md-editor-toolbar {
  height: 60px !important;

  svg {
    width: 24px;
    height: 24px;
  }
  button {
    height: 30px !important;
  }
}

.w-md-editor-content {
  height: calc(100% - 60px) !important;
  padding-bottom: 72px;
}

.w-md-editor-bar {
  display: none;
}

.markdown,
.wmde-markdown {
  margin-top: 24px;
  a {
    color: #7e57c2;
  }

  a.absent {
    color: #cc0000;
  }

  a.anchor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    padding-left: 30px;
    margin-left: -30px;
    cursor: pointer;
  }

  p {
    font-size: 20px;
    line-height: 32px;

    @media screen and (max-width: 768px) {
      font-size: 18px;
      line-height: 32px;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    padding: 0 0 0 12px;
    margin: 32px 0 16px;
    font-weight: bold;
    cursor: text;
    -webkit-font-smoothing: antialiased;
    border-left: 6px solid #7e57c2;
  }

  h1:hover a.anchor,
  h2:hover a.anchor,
  h3:hover a.anchor,
  h4:hover a.anchor,
  h5:hover a.anchor,
  h6:hover a.anchor {
    text-decoration: none;
  }

  h1 tt,
  h1 code {
    font-size: inherit;
  }

  h2 tt,
  h2 code {
    font-size: inherit;
  }

  h3 tt,
  h3 code {
    font-size: inherit;
  }

  h4 tt,
  h4 code {
    font-size: inherit;
  }

  h5 tt,
  h5 code {
    font-size: inherit;
  }

  h6 tt,
  h6 code {
    font-size: inherit;
  }

  h1 {
    font-size: 32px;
    color: black;
  }

  h2 {
    font-size: 28px;
    color: black;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 14px;
  }

  h5 {
    font-size: 15px;
  }

  h6 {
    font-size: 14px;
    color: #777777;
  }

  p,
  blockquote,
  ul,
  ol,
  dl,
  li,
  table,
  pre {
    margin: 20px 0;
  }

  li > pre {
    margin: 15px 0;
  }

  ol > li {
    line-height: 32px;
    list-style: decimal;
  }

  hr {
    height: 3px;

    background-color: #d3d3d3;
    border: 0 none;
    margin: 24px 0px;
  }

  h2:first-child {
    padding-top: 0;
    margin-top: 0;
  }

  h1:first-child {
    padding-top: 0;
    margin-top: 0;
  }

  h1:first-child + h2 {
    padding-top: 0;
    margin-top: 0;
  }

  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child {
    padding-top: 0;
    margin-top: 0;
  }

  a:first-child h1,
  a:first-child h2,
  a:first-child h3,
  a:first-child h4,
  a:first-child h5,
  a:first-child h6 {
    padding-top: 0;
    margin-top: 0;
  }

  h1 p,
  h2 p,
  h3 p,
  h4 p,
  h5 p,
  h6 p {
    margin-top: 0;
  }

  li p.first {
    display: inline-block;
  }

  li {
    font-size: 18px;
  }

  li + li {
    margin-top: 8px;
  }

  ul,
  ol {
    padding-left: 30px;
  }

  dl {
    padding: 0;
  }

  dl dt {
    padding: 0;
    margin: 15px 0 5px;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
  }

  dl dt:first-child {
    padding: 0;
  }

  dl dt > :first-child {
    margin-top: 0;
  }

  dl dt > :last-child {
    margin-bottom: 0;
  }

  dl dd {
    padding: 0 15px;
    margin: 0 0 15px;
  }

  dl dd > :first-child {
    margin-top: 0;
  }

  dl dd > :last-child {
    margin-bottom: 0;
  }

  blockquote {
    padding: 12px 15px;
    color: #505050;
    border-left: 6px solid #7e57c2;
    background-color: #ebebeb;
  }

  blockquote > :first-child {
    margin-top: 0;
  }

  blockquote > :last-child {
    margin-bottom: 0;
  }

  table {
    padding: 0;
    border-collapse: collapse;
  }

  table tr {
    padding: 0;
    margin: 0;
    background-color: white;
    border-top: 1px solid #cccccc;
  }

  table tr:nth-child(2n) {
    background-color: #f8f8f8;
  }

  table tr th {
    padding: 6px 13px;
    margin: 0;
    font-weight: bold;
    border: 1px solid #cccccc;
  }

  table tr td {
    padding: 6px 13px;
    margin: 0;
    border: 1px solid #cccccc;
  }

  table tr th :first-child,
  table tr td :first-child {
    margin-top: 0;
  }

  table tr th :last-child,
  table tr td :last-child {
    margin-bottom: 0;
  }

  img {
    max-width: 70%;
    object-fit: contain;
    margin: 0px auto;

    @media (max-width: 768px) {
      max-width: 100%;
    }
  }
  p:has(img) {
    display: flex;
    justify-content: center;
  }

  span.frame {
    display: block;
    overflow: hidden;
  }

  span.frame > span {
    display: block;
    float: left;
    width: auto;
    padding: 7px;
    margin: 13px 0 0;
    overflow: hidden;
    border: 1px solid #dddddd;
  }

  span.frame span img {
    display: block;
    float: left;
  }

  span.frame span span {
    display: block;
    padding: 5px 0 0;
    clear: both;
    color: #333333;
  }

  // span.align-center {
  //   display: block;
  //   overflow: hidden;
  //   clear: both;
  // }

  // span.align-center > span {
  //   display: block;
  //   margin: 13px auto 0;
  //   overflow: hidden;
  //   text-align: center;
  // }

  // span.align-center span img {
  //   margin: 0 auto;
  //   text-align: center;
  // }

  // span.align-right {
  //   display: block;
  //   overflow: hidden;
  //   clear: both;
  // }

  // span.align-right > span {
  //   display: block;
  //   margin: 13px 0 0;
  //   overflow: hidden;
  //   text-align: right;
  // }

  // span.align-right span img {
  //   margin: 0;
  //   text-align: right;
  // }

  // span.float-left {
  //   display: block;
  //   float: left;
  //   margin-right: 13px;
  //   overflow: hidden;
  // }

  // span .float-left span {
  //   margin: 13px 0 0;
  // }

  // span .float-right {
  //   display: block;
  //   float: right;
  //   margin-left: 13px;
  //   overflow: hidden;
  // }

  // span .float-right > span {
  //   display: block;
  //   margin: 13px auto 0;
  //   overflow: hidden;
  //   text-align: right;
  // }

  code,
  tt {
    padding: 4px 6px 2px;
    margin: 0 2px;
    white-space: nowrap;

    background-color: #d3d3d3;
    color: #4d2b90;
    font-weight: 500;

    border-radius: 3px;
  }

  pre code {
    padding: 0;
    margin: 0;
    white-space: pre;
    background: transparent;
    border: none;
  }

  .highlight pre {
    padding: 6px 10px;
    overflow: auto;
    font-size: 13px;
    line-height: 19px;
    background-color: #f8f8f8;
    border-radius: 3px;
  }

  pre {
    overflow: auto;
    font-size: 16px;
    line-height: 19px;
    border-radius: 3px;

    > div {
      border-radius: 4px;
      font-size: 16px;
      * {
        font-size: 14px;
      }
    }

    &:not(:has(div)) {
      padding: 6px 10px;
      background-color: #d3d3d3;
    }
  }

  pre code,
  pre tt {
    background-color: transparent;
    border: none;
  }

  sup {
    font-size: 0.83em;
    line-height: 0;
    vertical-align: super;
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: bold;
    color: #4d2b90;
  }

  &.project {
    margin-top: 0px;
    > p {
      margin: 0;
      font-size: 18px;
    }
  }
}
