@use 'src/styles/mixins' as m;
@use 'src/styles/constants' as c;

.dropdown {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  @include m.flex(center, center, column);

  @include m.mobileOnly {
    width: 24px;
    height: 24px;

    svg {
      width: 24px;
      height: 24px;
    }
  }
}
