@use 'src/styles/mixins' as m;
@use 'src/styles/constants' as c;

.dropdown {
  position: relative;
  width: 40px;
  height: 40px;

  > div {
    width: 40px;
    height: 40px;
    @include m.flex(center, center, column);
  }
}
