@use 'src/styles/mixins' as m;
@use 'src/styles/constants' as c;

.dropdown {
  position: relative;
  width: 40px;
  height: 40px;

  > div {
    width: 40px;
    height: 40px;
    @include m.flex(center, center, column);
  }
}

.dropdownMenu {
  position: absolute;
  top: 44px;
  right: 6px;
  z-index: 9999;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100px;
  max-height: 0;
  overflow-x: hidden;
  list-style: none;
  visibility: hidden;
  background-color: c.$C_WHITE;
  border-radius: 4px;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 100%);
  transition: max-height 0.2s, visibility 0.2s;
  transition-timing-function: linear;

  &.isOpen {
    max-height: 200px;
    visibility: visible;
  }
}

.dropdownItem {
  min-height: 40px;
  line-height: 32px;
  text-align: center;
  cursor: pointer;

  @include m.fontH3('medium');

  > a {
    color: c.$C_BLACK;
    text-decoration: none;
  }

  &:hover {
    > a {
      color: c.$C_WHITE;
    }
    background-color: c.$C_BLACK;
  }
}
