@use 'src/styles/mixins' as m;
@use 'src/styles/constants' as c;

.container {
  position: sticky;
  @include m.flex(center, flex-start, column);

  > h2 {
    @include m.fontH2(bold);
    padding-bottom: 4px;
    color: c.$C_BLACK;
  }
  @include m.desktopOnly {
    top: 104px;
  }
  @include m.mobileOnly {
    top: 72px;
    width: 100%;
    padding: 16px 20px;
    background-color: rgba(255, 255, 255, 90%);
    @include m.flex(center, center, column);
  }
}

.categories {
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;

  @include m.mobileOnly {
    justify-content: center;
  }

  > li {
    cursor: pointer;
  }
}
