@use 'src/styles/mixins' as m;
@use 'src/styles/constants' as c;

.container {
  position: sticky;
  top: 104px;
  @include m.flex(center, flex-start, column);

  > h2 {
    @include m.fontH2(bold);
    padding-bottom: 4px;
    color: c.$C_BLACK;
  }
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  width: 100%;
  margin-top: 12px;
  overflow-x: scroll;

  > li {
    padding: 8px 12px;
    color: c.$C_WHITE;
    text-align: center;
    cursor: pointer;
    background-color: c.$C_GRAY_7;
    border-radius: 12px;

    @include m.fontB16(medium);

    @include m.tabletOnly {
      @include m.fontB16(medium);
    }

    @include m.mobileOnly {
      @include m.fontB12(medium);
    }
  }
}
