@use 'src/styles/mixins' as m;
@use 'src/styles/constants' as c;

.wrapper {
  position: relative;
  z-index: c.$Z_MODAL;

  @include m.fixed(0 0 0 0);
  @include m.flex;

  &.enterDone,
  &.exit {
    .drawer {
      width: 320px;
    }
  }

  &.exitActive,
  &.enter {
    .drawer {
      width: 0;
    }
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 30%);

  @include m.absoluteZero;
}

.drawer {
  position: absolute;
  right: 0;
  background-color: c.$C_WHITE;
  transition: width 0.2s;
  transition-timing-function: linear;

  .title {
    @include m.fontH1(medium);
  }

  .nav {
    .navItemWrapper {
      @include m.flex(flex-start, flex-start, column);
      padding: 0 12px;
      margin-top: 24px;
    }
  }
}
