@use 'src/styles/mixins' as m;
@use 'src/styles/constants' as c;

.header {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 100;
  width: 100%;
  height: 72px;
  color: c.$C_WHITE;
  background-color: c.$C_BLACK;
  opacity: 0.9;
  transform: translateX(-50%);

  > div {
    width: 100%;
    height: 72px;
    padding: 16px 0;
    margin: 0 auto;

    @include m.flex(space-between);

    @include m.tabletOnly {
      padding: 16px 12px;
    }

    @include m.desktopOnly {
      max-width: 1200px;
    }

    > h1 {
      flex-basis: 0;
      flex-grow: 1;
      font-size: 24px;
      font-weight: 600;

      @include m.mobileOnly {
        font-size: 20px;
      }

      > a {
        color: c.$C_WHITE;
        text-decoration: none;
        letter-spacing: 2px;
      }
    }

    .logo {
      flex-basis: 0;
      flex-grow: 1;
      width: 120px;
      height: 120px;
      object-fit: cover;
    }
  }

  li {
    list-style: none;
  }
}
