@use "src/styles/mixins" as m;
@use "src/styles/constants" as c;

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 72px;

  padding: 16px 0px;
  @include m.flex(space-between);
  background-color: c.$C_WHITE;
  @include m.desktopOnly {
    max-width: 1200px;
  }
  @include m.tabletOnly {
    padding: 16px 12px;
  }

  > h1 {
    font-size: 24px;
    font-weight: 600;
    color: c.$C_PRIMARY_DARK;
  }

  > h1:last-of-type {
    font-size: 36px;
    font-weight: 600;
    color: c.$C_PRIMARY_DARK;
  }
  .logo {
    width: 120px;
    height: 120px;
    object-fit: cover;
  }
}
