@use 'src/styles/constants' as c;
@use 'src/styles/mixins' as m;

.wrapper {
  width: 100%;

  @include m.tabletOnly {
    padding: 0 12px;
  }

  > h2 {
    @include m.fontH1(medium);
    @include m.flex(flex-start, flex-end, row);
    column-gap: 12px;
    margin-bottom: 24px;

    > p {
      @include m.fontB14(regular);
      color: c.$C_GRAY_5;
    }
  }

  .careers {
    @include m.flex(flex-start, flex-start, column);
    row-gap: 24px;
    list-style: none;
  }

  .career {
    width: 100%;
    min-height: 80px;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 12px 4px c.$C_GRAY_7;

    .title {
      @include m.fontH2(bold);
      @include m.flex(flex-start, flex-end);
      position: relative;
      column-gap: 12px;
      padding-bottom: 12px;
      margin-bottom: 12px;
      color: c.$C_GRAY_2;
      cursor: pointer;
      border-bottom: 1px solid c.$C_GRAY_7;
      @include m.mobileOnly {
        font-size: 20px;
      }

      @include m.mini {
        font-size: 16px;
      }

      > p {
        font-size: 14px;
        font-weight: 400;
        color: c.$C_GRAY_5;

        &:first-of-type {
          font-weight: 500;
          color: c.$C_GRAY_3;
        }
      }
    }
  }
}

.careerDetail {
  @include m.flex(flex-start, flex-start, column);
  row-gap: 12px;
  margin-top: 24px;
  list-style: none;

  > li {
    @include m.flex(flex-start, flex-start, column);
    row-gap: 8px;

    > strong {
      @include m.fontH3(bold);

      &::before {
        margin-right: 4px;
        content: '•';
      }
    }

    > p {
      @include m.fontB16(regular);
      padding-left: 20px;
      line-height: 1.6;
    }
  }
}
