@use 'src/styles/constants' as c;
@use 'src/styles/mixins' as m;

.header {
  width: var(--notion-max-width);
  padding: 0 calc(min(16px, 8vw)) 32px;
  margin: 32px auto 0;
  border-bottom: 1px solid c.$C_GRAY_7;

  > h1 {
    @include m.fontH1(bold);
  }

  .date {
    @include m.fontB18(regular);
  }

  .tags {
    margin-top: 12px;
  }
}
