@use 'src/styles/mixins' as m;
@use 'src/styles/constants' as c;

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 102px 0 0;

  @include m.tabletOnly {
    padding: 72px 12px 20px;
    @include m.flex(flex-start, flex-start, column);
  }

  @include m.mobileOnly {
    padding: 32px 12px;
    @include m.flex(flex-start, flex-start, column);
  }

  > section:first-of-type {
    min-width: 600px;

    @include m.tabletOnly {
      width: 100%;
      min-width: 0;
    }
  }
}

.profile {
  margin-bottom: 24px;

  > img {
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    object-fit: cover;
  }
}

.myInfo {
  width: 100%;

  h1 {
    @include m.fontH1(regular);
    color: c.$C_DARK_GRAY;

    @include m.tabletOnly {
      font-size: 32px;
    }

    @include m.mobileOnly {
      margin-bottom: 8px;
      @include m.fontH2(regular);
    }

    @include m.mini {
      font-size: 18px;
    }
  }

  > div {
    @include m.flex(flex-start);
    margin-top: 8px;
    @include m.mobileOnly {
      display: block;

      > h1:last-of-type {
        display: inline;
      }
    }

    .name {
      margin: 0 12px;
      font-weight: 700;
      @include m.mobileOnly {
        display: inline;
        margin: 0;
      }
    }
  }
}

.aboutMe {
  @include m.tabletOnly {
    width: 100%;
    margin-top: 20px;
  }

  hr {
    height: 1px;
    margin: 8px 0;
    background-color: c.$C_GRAY_7;
    border: 0;
  }
  @include m.mobileOnly {
    @include m.flex(flex-start, flex-start, column);
  }

  > ul {
    width: 100%;
  }

  .career {
    @include m.mobileOnly {
      > svg {
        display: none;
      }

      > p {
        font-size: 12px;
      }

      & + li {
        margin-top: 12px;
      }
    }

    & + li {
      margin-top: 8px;
    }
  }

  li {
    @include m.flex(flex-start, center);
    gap: 8px;
    list-style: none;

    &:has(a) {
      cursor: pointer;
    }

    @include m.mobileOnly {
      flex-wrap: wrap;
    }

    > a {
      @include m.flex(flex-start, center);
      gap: 8px;
      color: c.$C_DARK_GRAY;
    }

    p {
      @include m.fontB16(medium);

      span {
        margin-left: 12px;
      }
    }
  }
}

.description {
  margin-top: 12px;

  > p {
    @include m.fontB16(regular);
    line-height: 24px;
    color: c.$C_GRAY_3;
  }

  strong {
    font-weight: 700;
  }

  .values > strong:not(:first-of-type) {
    margin-left: 6px;
  }

  @include m.mini {
    span {
      display: block;
    }

    > p {
      font-size: 14px;
      line-height: 20px;
    }
  }

  @include m.mobileOnly {
    margin-top: 12px;

    .values > strong:first-of-type {
      margin-left: 0;
    }
  }
}
